dj-database-url==0.4.2
Django==1.11.4
django-registration-redux==1.7
hellowebapp-deploy
olefile==0.44
Pillow==4.2.1
psycopg2
python-http-client==3.0.0
pytz==2017.2
sendgrid==5.2.0
waitress==2.1.2
whitenoise==3.3.0
